<aside class="sidebar">
  <div class="categories-sidebar">
    <h3 class="sidebar-title">Categories</h3>
    <ul class="category-list">
      <li class="category-item">
        <a class="category-link">
          Overall
          <span class="category-label">(3)</span>
        </a>
      </li>
      <li class="category-item">
        <a class="category-link">
          Players
          <span class="category-label">(2)</span>
        </a>
      </li>
      <li class="category-item">
        <a class="category-link">
          Life
          <span class="category-label">(4)</span>
        </a>
      </li>
      <li class="category-item parent">
        <a class="category-link">
          Entertainment
          <span class="category-label">(1)</span>
        </a>
        <ul class="category-sub-list">
          <li class="category-sub-item">
            <a class="category-sub-link">
              Art Style
              <span class="category-label">(3)</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="category-item">
        <a class="category-link">
          Uncategorized
          <span class="category-label">(3)</span>
        </a>
      </li>
    </ul>
    <div class="clearfix"> </div>
  </div>
  <div class="newsletter-sidebar">
    <h3 class="sidebar-title">Newsletter</h3>
    <p class="introtext">Donec at ex aliquet, porttitor lacus eget</p>
    <input class="newsletter-input" type="email" placeholder="Email">
    <button class="btn btn-primary btn-newsletter">
      <i class="fas fa-envelope"></i>
    </button>
  </div>
  <div class="tags-sidebar">
    <h3 class="sidebar-title">tags</h3>
    <ul class="tag-list">
      <li class="tag-item">
        <a href="">
          <span>soccer</span>
        </a>
      </li>
      <li class="tag-item">
        <a href="">
          <span>kick</span>
        </a>
      </li>
      <li class="tag-item">
        <a href="">
          <span>action</span>
        </a>
      </li>
      <li class="tag-item">
        <a href="">
          <span>stadium</span>
        </a>
      </li>
      <li class="tag-item">
        <a href="">
          <span>goals</span>
        </a>
      </li>
      <li class="tag-item">
        <a href="">
          <span>home</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
