<!-- <header id="header" class="header clearfix">
  <div class="logo pull-left">
    <a routerLink="/">LOGO</a>
  </div>
  <div class="search-box pull-right">
    <a *ngIf="!auth.isLoggedIn()" class="menu-link" routerLink="/login">
      <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> Login
    </a>
    <button *ngIf="auth.isLoggedIn()" class="menu-link menu-link-dropdown" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>

    <ng-container *ngIf="auth.isLoggedIn()">
      <a class="menu-link">{{ auth.currentUser.name }}</a>
    </ng-container>

    <form class="search-form" action="">
      <input class="search-input" type="text" placeholder="Search" name="search">
      <button class="search-button" type="submit">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </form>
  </div>
</header> -->

<header class="header-nav sticky">
  <div class="header-wrap container">
    <!-- <ul class="top-nav clearfix">
      <li class="social-item">
        <a class="" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
      <li class="social-item">
        <a class="" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
      <li class="social-item">
        <a class="" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
      <li class="social-item">
        <a class="" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
      <li class="social-item">
        <a class="" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
      <li class="social-item">
        <a class="" href="">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
    </ul> -->
    <div id="bottom-nav" class="bottom-nav clearfix">
      <a class="bottom-nav-left pull-left">
        <img src="../../../../assets/images/logo-img.png">
        <span>Sport<em>.ak</em></span>
      </a>
      <div [ngClass]="{'responsive': isClick}" class="bottom-nav-right pull-right">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown clearfix">
          <button class="dropbtn">Dropdown
            <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <a href="#about">About</a>
        <a class="icon" (click)="createResponsive()">&#9776;</a>
      </div>
    </div>
  </div>
</header>
