<header class="header sticky">
  <div class="container">
    <div class="bottom-nav clearfix">
      <a routerLink="/" class="bottom-nav-left pull-left">
        <img class="bottom-nav-logo" src="../../../../assets/images/logo-img.png">
        <span class="bottom-nav-brand">Sport<em>.clc</em></span>
      </a>
      <div [class.responsive]="isClick" class="bottom-nav-right pull-right">
        <a routerLink="/home" class="main-link" routerLinkActive="active">
          Home
        </a>
        <a routerLink="/tournaments" routerLinkActive="active" class="main-link">
          Tournaments
        </a>
        <div class="dropdown pull-left clearfix">
          <a routerLink="/all-schedules" routerLinkActive="active" class="dropbtn main-link">
            Schedules
            <span class="fa fa-caret-down dropdown-ic"></span>
          </a>
          <div class="dropdown-content">
            <ng-container *ngFor="let tournament of tournaments">
              <a routerLink="/schedules/{{ tournament.id }}" class="sub-link">
                {{ tournament.name || 'Unset name' }}
              </a>
            </ng-container>
          </div>
        </div>
        <div *ngIf="auth.isLoggedIn()" class="dropdown dropdown-image inline-block clearfix">
          <ng-container *ngIf="auth.currentUser.admin">
            <a class="dropbtn">{{ auth.currentUser.name || 'Username' }}
              <span class="fa fa-caret-down dropdown-ic"></span>
            </a>
            <div class="dropdown-content dropdown-right">
              <a class="sub-link">{{ auth.currentUser.name || 'Username' }}</a>
              <a routerLink="/tournament-registration" class="sub-link">Create tournament</a>
              <a routerLink="/info/{{ auth.currentUser.sub }}" class="sub-link">Information</a>
              <a (click)="logout()" class="sub-link">Log out</a>
            </div>
          </ng-container>
          <ng-container *ngIf="!auth.currentUser.admin">
            <a class="dropbtn btn-image">
              <img src="../../../../assets/images/T7Z35JWLQ-U9R5N05T7-e955542bf924-48.jpg" alt="user-image">
              <span class="fa fa-caret-down dropdown-ic"></span>
            </a>
            <div class="dropdown-content dropdown-right">
              <a class="sub-link">{{ auth.currentUser.name || 'Username' }}</a>
              <a class="sub-link" routerLink="/prediction-list">Prediction list</a>
              <a class="sub-link">Profile</a>
              <a (click)="logout()" class="sub-link">Log out</a>
            </div>
          </ng-container>
        </div>
        <a routerLink="/login" *ngIf="!auth.isLoggedIn()" class="main-link" routerLinkActive="active">Log in</a>
        <a class="icon" (click)="createResponsive()">&#9776;</a>
      </div>
    </div>
  </div>
</header>
