<div class="container">
  <div class="schedule-block" [ngClass]="{'w100 pl0': auth.currentUser?.admin}">
    <h2 *ngIf="auth.currentUser?.admin" [class.tour-name]="tournamentName">{{tournamentName}}</h2>
    <section class="group-block" *ngFor="let item of schedules; let i = index">
      <ng-container *ngIf="item.matches.length">
        <h4 class="group-title txt-center">{{item.groupName}}</h4>
        <app-matches [matches]="item.matches" [home]="false" [flag]="flag" (openModal)="openModal($event)">
        </app-matches>
        <div *ngIf="auth.currentUser?.admin && tablesFlags[i]?.finished" class="txt-center pt10">
          <input type="button" value="Set knockout" class="btn-primary" (click)="onSetKnockout(i)">
        </div>
      </ng-container>
      <br>
    </section>
    <span *ngIf="!showLoadingIndicator" style="color: #00afd8; float: right;">* Winner</span>
    <div *ngIf="showLoadingIndicator" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <app-sidebar></app-sidebar>
</div>
<app-dialog-edit-match *ngIf="matchData.length" [matchData]="matchData" (onSubmit)="onSubmit($event)"></app-dialog-edit-match>
<app-select-winner-table *ngIf="isOpenSetKnockout" [tableData]="knockoutData" (close)="closeModal($event)"></app-select-winner-table>
