<div class="schedule-block container">
  <section class="group-block" *ngFor="let item of schedules">
    <ng-container *ngIf="item.matches.length">
      <h4 class="group-title">Group {{item.groupName}}</h4>
      <table class="schedule-match">
        <ng-container *ngFor="let match of item.matches">
          <thead>
            <tr *ngIf="match.round === 4.1">
              <th *ngIf="!auth.isLoggedIn()" class="final-title" colspan="3">Final</th>
              <th *ngIf="auth.isLoggedIn() && !auth.currentUser.admin" class="final-title" colspan="4">Final</th>
            </tr>
            <tr *ngIf="match.round === 4.2">
              <th *ngIf="!auth.isLoggedIn()" colspan="3" class="final-title">Final</th>
              <th *ngIf="auth.isLoggedIn() && !auth.currentUser.admin" colspan="4" class="final-title">Third and four
              </th>
            </tr>
          </thead>
          <tr>
            <td class="team team1 w20">
              <img [src]="match?.firstTeam.logo || imgDefault" alt="">
              <span>
                {{ match?.firstTeam.code || '?'}}
              </span>
            </td>
            <td class="date-start middle w40">
              <p>
                {{ match.firstTeam.score || '?'}} : {{ match.secondTeam.score || '?'}}
              </p>
              <p>
                {{ match.start_at || 'date start'}}
              </p>
            </td>
            <td class="team team2 w20">
              <span>
                {{ match?.secondTeam.code || '?'}}
              </span>
              <img [src]="match?.secondTeam.logo || imgDefault" alt="">
            </td>
            <td class="center w20" *ngIf="auth.isLoggedIn() && !auth.currentUser.admin">
              <a *ngIf="!match.firstTeam.score && !match.prediction?.is_predicted" (click)="openModal(match)">
                <img src="../../../assets/images/predict-icon.png" alt="">
              </a>
              <div *ngIf="match.prediction?.is_predicted">
                <div>
                  Predicted:
                </div>
                <div>
                  {{ match.prediction.firstTeam_score_prediction }} : {{ match.prediction.secondTeam_score_prediction }}
                </div>
              </div>
            </td>
            <td class="center w20" *ngIf="auth.isLoggedIn() && auth.currentUser.admin">
              <a (click)="openModal(match)">
                <img src="../../../assets/images/edit-icon.png" alt="">
              </a>
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </section>
</div>

<div #modal class="prediction-page modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <form class="prediction-form" #elmForm="ngForm" (ngSubmit)="submit(elmForm, _match)">
      <div class="prediction-heading">
        <p><b>Prediction Match</b></p>
      </div>
      <div class="score-avatar" [style.backgroundImage]="'url('+ imageSource +')'">
        <div class="info-match">
          <!-- <div class="info-match-tour">Premier League Tournament</div> -->
          <div class="info-match-time">{{ _match.start_at  || 'Undefined' }}</div>
        </div>
        <div class="score-prediction">
          <div class="name-team-1">
            <img *ngIf="_match.firstTeam" [src]="_match.firstTeam.logo" alt="" class="logo_team-1">
            <p>{{ _match.firstTeam?.code }}</p>
          </div>
          <div class="prediction-middle">
            <input type="number" value="{{ _match.firstTeam?.score }}" name="firstPrediction" class="prediction" ngModel
              #firstPrediction="ngModel" min="0" required />
            <div class="cross">-</div>
            <input type="number" value="{{ _match.secondTeam?.score }}" name="secondPrediction" class="prediction"
              ngModel #secondPrediction="ngModel" min="0" required />
          </div>
          <div class="name-team-2">
            <img *ngIf="_match.secondTeam" [src]="_match.secondTeam.logo" alt="" class="logo_team-2">
            <p>{{ _match.secondTeam?.code }}</p>
          </div>
          <button class="btn-prediction">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
