.btn-primary {
  cursor: pointer;
  outline: 0;
  border-radius: 20px;
  height: 38px;
  width: 20%;
  border: 0px;
}
.pt10 {
  padding-top: 10px;
}
.tour-name {
  text-align: center;
  width: 50%;
  background-color: #00afd8;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  color: white;
  font-size: 30px;
  border-radius: 10px;
}


