<div class="next-match txt-center">
  <div class="next-match-content">
    <div class="match-date">
      <app-countdown-timer [isHomePage]="true" *ngIf="time" [end]="time" (finished)="onFinishedCountDown()"></app-countdown-timer>
    </div>
    <div class="match-location middle">
      <img src="../../../../assets/images/location-icon.png" alt="location-icon">
      <span>
        {{ match?.tournamentName }}
      </span>
    </div>
    <div class="match-team">
      <p class="match-team-logo w20">
        <a routerLink="/team-detail/{{ match?.firstTeam.firstTeamId }}">
          <img [src]="match?.firstTeam?.logo" class="img-size" alt="logo team1">
        </a>
      </p>
      <p class="match-team-code w20">
        {{ match?.firstTeam?.code | slice:0:3 | questionMask }}
      </p>
      <p class="versus w20">
        <ng-container *ngIf="match?.firstTeam?.score">
          {{ match?.firstTeam?.score | questionMask }} : {{ match?.secondTeam?.score | questionMask }}
        </ng-container>
        <ng-container *ngIf="!match?.firstTeam?.score">
          VS
        </ng-container>
      </p>
      <p class="match-team-code w20">
        {{ match?.secondTeam?.code | slice:0:3 | questionMask }}
      </p>
      <p class="match-team-logo w20">
        <a routerLink="/team-detail/{{ match?.secondTeam.secondTeamId }}">
          <img [src]="match?.secondTeam?.logo" class="img-size" alt="logo team2">
        </a>
      </p>
    </div>
    <div *ngIf="!isOpen">
      <button *ngIf="!auth.currentUser?.admin && auth.isLoggedIn()" class="btn btn-predict txt-bold" (click)="open()">
        <span>
          {{ match?.prediction?.is_predicted ? 'Predicted' : 'Predict' }}
        </span>
      </button>
      <button (click)="openMatch(match)" class="btn btn-predict txt-bold">
        View detail
      </button>
    </div>
    <form *ngIf="isOpen" class="predict" #elmForm="ngForm" (ngSubmit)="onSubmit(elmForm)">
      <div>
        <input type="number" name="firstTeamPrediction" [(ngModel)]="firstTeamPrediction">
        <input type="number" name="secondTeamPrediction" [(ngModel)]="secondTeamPrediction">
      </div>
      <div>
        <input type="submit" class="btn btn-predict txt-bold" value="Submit"
          [class.disabled]="!(firstTeamPrediction && secondTeamPrediction)"
          [disabled]="!(firstTeamPrediction && secondTeamPrediction)">
        <input type="button" class="btn btn-predict txt-bold" value="Cancel" (click)="open()">
      </div>
    </form>
  </div>
  <div *ngIf="showLoadingIndicator" class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
