<div class="next-match txt-center">
  <div class="next-match-content">
    <div class="match-date">
      {{ match.start_at | date:'MMMM, dd, y | h:mm a' }}
    </div>
    <div class="match-location middle">
      <img src="../../../../assets/images/location-icon.png" alt="location-icon">
      <span>
        {{ match?.tournamentName }}
      </span>
    </div>
    <div class="match-team">
      <p class="match-team-logo w20">
        <a routerLink="/team-detail/{{ match?.firstTeam.firstTeamId }}">
          <img [src]="match?.firstTeam?.logo" class="img-size" alt="logo team1">
        </a>
      </p>
      <p class="match-team-code w20">
        {{ match?.firstTeam?.code | slice:0:4 | questionMask }}
      </p>
      <p class="versus w20">
        <ng-container *ngIf="match?.firstTeam?.score">
          {{ match?.firstTeam?.score | questionMask }} : {{ match?.secondTeam?.score | questionMask }}
        </ng-container>
        <ng-container *ngIf="!match?.firstTeam?.score">
          VS
        </ng-container>
      </p>
      <p class="match-team-code w20">
        {{ match?.secondTeam?.code | slice:0:4 | questionMask }}
      </p>
      <p class="match-team-logo w20">
        <a routerLink="/team-detail/{{ match?.secondTeam.secondTeamId }}">
          <img [src]="match?.secondTeam?.logo" class="img-size" alt="logo team2">
        </a>
      </p>
    </div>
    <div>
      <button *ngIf="auth.currentUser?.admin || !match.firstTeam.score" class="btn btn-predict txt-bold"
        (click)="openModal(match)">
        <span *ngIf="auth.currentUser?.admin">
          Edit
        </span>
        <span *ngIf="!auth.currentUser?.admin">
          {{ match?.prediction?.is_predicted ? 'Predicted' : 'Predict' }}
        </span>
      </button>
      <button (click)="openMatch(match)" class="btn btn-predict txt-bold">
        View detail
      </button>
    </div>
  </div>
</div>
<app-dialog-edit-match *ngIf="matchData.length" [matchData]="matchData" (onSubmit)="onSubmit($event)">
</app-dialog-edit-match>
