# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

/src/app/features/features.component.spec.ts
/src/app/features/bracket/bracket.component.spec.ts
/src/app/features/home/home.component.spec.ts
/src/app/features/login/login.component.spec.ts
/src/app/features/register/register.component.spec.ts
/src/app/features/schedule/schedule.component.spec.ts
/src/app/features/team-registration/team-registration.component.spec.ts
/src/app/features/tournament-registration/tournament-registration.component.spec.ts

/src/app/shared/components/footer/footer.component.spec.ts
/src/app/shared/components/header/header.component.spec.ts
/src/app/shared/components/sidebar/sidebar.component.spec.ts
/src/app/shared/components/slider/slider.component.spec.ts

/src/app/shared/services/api.service.spec.ts
/src/app/shared/services/auth.service.spec.ts
/src/app/shared/services/dialog.service.spec.ts
/src/app/shared/services/interaction.service.spec.ts
/src/app/shared/services/match.service.spec.ts
/src/app/shared/services/schedule.service.spec.ts
/src/app/shared/services/transfere.service.spec.ts

/src/app/app.component.spec.ts

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
