<div class="feature">
  <div class="feature-intro">
    <div class="container">
      <div class="feature-cover" [style.backgroundImage]="'url('+ imageSource +')'">
        <h1 class="feature-heading">
          Home / {{ pageName }}
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-active">
        <span>{{ pageName }}</span>
      </li>
    </ul>
  </div>
  <main class="main-page clearfix">
    <div class="body-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
