<ngx-spinner></ngx-spinner>
<div #modal class="prediction-page modal txt-bold">
  <div class="modal-content">
    <span (click)="closeModal()" class="close txt-bold">&times;</span>
    <form class="prediction-form" #elmForm="ngForm" (ngSubmit)="onSubmit(elmForm, match)">
      <div class="prediction-heading txt-center">
        <b *ngIf="auth.isLoggedIn() && !auth.currentUser?.admin">
          Predict Match
        </b>
        <b *ngIf="auth.isLoggedIn() && auth.currentUser?.admin">
          Edit Match
        </b>
      </div>
      <div class="score-avatar">
        <div class="info-match txt-center">
          <div class="info-match-time">
            {{ match.start_at | date:'MMMM, dd | h:mm a' || 'Undefined' }}
          </div>
        </div>
        <div class="score-prediction">
          <div class="name-team-1">
            <img *ngIf="match.firstTeam" [src]="match.firstTeam.logo" alt="" class="logo-size">
            <p class="code-team">{{ match.firstTeam?.code | slice:0:4 }}</p>
          </div>
          <!-- Predict for user -->
          <div class="prediction-middle" *ngIf="!auth.currentUser?.admin">
            <input type="number" [(ngModel)]="firstTeamPrediction_ngModel" name="firstTeamPrediction"
              value="{{ match.prediction.firstTeam_score_prediction }}" ngModel class="prediction" #firstTeamScoreValue
              min="0" required>
            <div class="cross">-</div>
            <input type="number" [(ngModel)]="secondTeamPrediction_ngModel" name="secondTeamPrediction"
              value="{{ match.prediction.secondTeam_score_prediction }}" ngModel class="prediction" min="0" required>
          </div>
          <!-- Edit for admin -->
          <div class="prediction-middle" *ngIf="auth.currentUser?.admin">
            <img *ngIf="!disableRadio_btn && isWinner" [src]="imageWinner" alt="star icon">
            <input [(ngModel)]="firstTeamScore_ngModel" type="number" name="firstTeamScoreValue" class="prediction"
              min="0" (ngModelChange)="checkWinner()" required>
            <div class="cross">-</div>
            <input [(ngModel)]="secondTeamScore_ngModel" type="number" name="secondTeamScoreValue" class="prediction"
              min="0" (ngModelChange)="checkWinner()" required>
            <img *ngIf="!disableRadio_btn && !isWinner" class="imgWinner2" [src]="imageWinner" alt="star icon">
            <!-- Choose winner -->
            <ng-container
              *ngIf="!disableRadio_btn">
              <div class="winner1">
                Winner: <input type="radio" name="checkWinner" [value]="true" [(ngModel)]="isWinner"
                  (change)="changeFlag(true)">
              </div>
              <div class="winner2">
                Winner: <input type="radio" name="checkWinner" [value]="false" [(ngModel)]="isWinner"
                  (change)="changeFlag(false)">
              </div>
            </ng-container>
          </div>
          <div class="name-team-2">
            <img *ngIf="match.secondTeam" [src]="match.secondTeam.logo" alt="" class="logo-size">
            <p class="code-team">{{ match.secondTeam?.code | slice:0:4 }}</p>
          </div>
          <button class="btn-prediction" [disabled]="elmForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
