<div #modal class="prediction-page modal txt-bold">
  <div class="modal-content">
    <span (click)="closeModal()" class="close txt-bold">&times;</span>
    <form class="prediction-form" #elmForm="ngForm" (ngSubmit)="onSubmit(elmForm, match)">
      <div class="prediction-heading txt-center">
        <b *ngIf="auth.isLoggedIn() && !auth.currentUser?.admin">
          Predict Match
        </b>
        <b *ngIf="auth.isLoggedIn() && auth.currentUser?.admin">
          Edit Match
        </b>
      </div>
      <div class="score-avatar">
        <div class="info-match txt-center">
          <div class="info-match-time" *ngIf="!auth.currentUser?.admin">
            <div class="info-match-time">
              {{ match.start_at | date:'MMMM, dd | h:mm a' || 'Undefined' }}
            </div>
          </div>
          <div class="info-match-time" *ngIf="auth.currentUser?.admin">
            <input name="start_at" (ngModelChange)="checkTime(start)" ngModel #start="ngModel" required
              [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="start_at_ngModel" placeholder="Start Day">
            <owl-date-time #dt1></owl-date-time>
            <div class="alert" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
          </div>
        </div>
        <div class="score-prediction">
          <div class="name-team-1">
            <img *ngIf="match.firstTeam" [src]="match.firstTeam.logo" alt="" class="logo-size">
            <p class="code-team">{{ match.firstTeam?.code | slice:0:3 }}</p>
          </div>
          <!-- Form input: edit for admin or predict for user -->
          <div class="prediction-middle">
            <img *ngIf="isAdmin && isWinner && match.round !== 1" [src]="imageWinner" alt="winner icon">
            <input [(ngModel)]="firstTeamScore" type="number" name="firstTeamScoreValue" class="prediction"
              min="0" max="99" (ngModelChange)="checkWinner()" required>
            <div class="cross">-</div>
            <input [(ngModel)]="secondTeamScore" type="number" name="secondTeamScoreValue" class="prediction"
              min="0" max="99" (ngModelChange)="checkWinner()" required>
            <img *ngIf="isAdmin && !isWinner && match.round !== 1" class="imgWinner2" [src]="imageWinner" alt="winner icon">
            <!-- Choose winner -->
            <ng-container *ngIf="!disabledRadio_btn">
              <div class="winner1">
                Winner: <input type="radio" name="checkWinner" [value]="true" [(ngModel)]="isWinner"
                  (change)="changeFlag(true)">
              </div>
              <div class="winner2">
                Winner: <input type="radio" name="checkWinner" [value]="false" [(ngModel)]="isWinner"
                  (change)="changeFlag(false)">
              </div>
            </ng-container>
          </div>
          <div class="name-team-2">
            <img *ngIf="match.secondTeam" [src]="match.secondTeam.logo" alt="" class="logo-size">
            <p class="code-team">{{ match.secondTeam?.code | slice:0:3 }}</p>
          </div>
          <button class="btn-prediction" [class.disabled]="elmForm.invalid || disabledSubmit_btn" [disabled]="elmForm.invalid || disabledSubmit_btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
