.inner-block {
  padding: 6.2em 2em 4em 2em;
  background: #fafafa;
  .market-update-gd {
    &:nth-child(3) {
      padding-right: 29px;
      h4 {
        font-size: 1em !important;
        line-height: 1.34em;
      }
    }
    float: left;
    padding-right: 30px;
    .clr-block-1, .clr-block-2, .clr-block-3 {
      padding: 2em 2em;
      background: #68ae00;
      margin-right: 0.8em;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      transition: 0.5s all;
      .market-update-left {
        float: left;
        padding: 0px;
        color: #fff;
        h3 {
          font-size: 2.5em;
        }
        h4 {
          font-size: 1.2em;
          margin: 0.3em 0em;
        }
        p {
          font-size: 0.8em;
          line-height: 1.8em;
        }
      }
      .market-update-right {
        float: right;
        i {
          font-size: 3em;
          color: #68AE00;
          width: 80px;
          height: 80px;
          background: #fff;
          text-align: center;
          border-radius: 49px;
          line-height: 1.7em;
        }
      }
    }
    .clr-block-2 {
      background-color: #FC8213;
      .market-update-right { 
        i {
          color: #FC8213;
        }
      }
    }
    .clr-block-3 {
      background-color: #337AB7;
      .market-update-right { 
        i {
          color: #337AB7
        }
      }
    }
  }

  .chit-chat-layer1 {
    margin: 2em 0em;
    .chit-chat-layer1-left {
      float: left;
      position: relative;
      min-height: 1px;
      padding-right: 30px;
      .work-progres {
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
        padding: 1.34em 1em;
        background: #fff;
        .chit-chat-heading {
          text-align: center;
          padding: 16px 8px;
          font-size: 1.6em;
          font-weight: 700;
          color: #fff;
          background-color: #000;
          text-transform: uppercase;
        }
        .table-responsive {
          min-height: .01%;
          overflow-x: auto;
          .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            th, td {
              text-align: left;
              padding: 8px;
              line-height: 1.42857143;
              border-top: 1px solid #ddd;
            }
            th {
              border-bottom: 2px solid #ddd;
              font-weight: 700;
              border-top: 0;
            }
          }
        }
      }
    }
    .chit-chat-layer1-rit {
      float: right;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      .geo-chart {
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
        padding: 1em 1em;
        background: #fff;
        h3 {
          font-size: 1.3em;
          font-weight: 700;
          color: #5F5D5D;
          text-transform: uppercase;
        }
      }
    }
  }
}
