<main class="inner-block">
  <div class="market-updates">
    <div class="col-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-8 market-update-left">
          <h3>{{ this.usersLength }}</h3>
          <h4>Registered User</h4>
          <p>Other hand, we denounce</p>
        </div>
        <div class="col-4 market-update-right">
          <i class="fa fa-file-text-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>

    <div class="col-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-8 market-update-left">
          <h3>{{ tournamentsLength }}</h3>
          <h4>Tournaments</h4>
          <p>Other hand, we denounce</p>
        </div>
        <div class="col-4 market-update-right">
          <i class="fa fa-eye"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-8 market-update-left">
          <h3>{{ predictedMatchesLength }}</h3>
          <h4>Predicted Matches</h4>
          <p>Other hand, we denounce</p>
        </div>
        <div class="col-4 market-update-right">
          <i class="fa fa-envelope-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>

  <div class="chit-chat-layer1">
    <div class="col-6 chit-chat-layer1-left">
      <div class="work-progres">
        <div class="chit-chat-heading">
          Recent Tournaments
        </div>
        <div *ngIf="showLoadingIndicator" class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Tournaments</th>
                <th>Created date</th>
                <th>Status</th>
                <th>Progress</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tour of tournaments, let i = index">
                <td>{{ i + 1}}</td>
                <td>{{ tour.name }}</td>
                <td>{{ tour.start_at | date:'MMM, dd | h:mm a' }}</td>
                <td><span class="btn"
                    [ngClass]="tour.status ? 'btn-success' : 'btn-danger'">{{ tour.status ? 'Done' : 'In progress' }}</span>
                </td>
                <td><span class="badge badge-info">{{ tour.percent }}%</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <app-statistics></app-statistics>
    <div class="clearfix"></div>
  </div>
</main>
