<div class="schedule container">
  <ul class="matches">
    <li class="match txt-center" *ngFor="let match of matches">
      <p class="match-date w30">
        {{ match.start_at | date:'MMM, dd, y' }}
      </p>
      <p class="match-team-logo w15">
        <img [src]="match?.firstTeam.logo" class="img-size" alt="logo team1">
      </p>
      <p class="match-team-code w15">
        {{ match?.firstTeam.code | questionMask }}
      </p>
      <p class="versus w10">
        VS
      </p>
      <p class="match-team-code w15">
        {{ match?.secondTeam.code | questionMask }}
      </p>
      <p class="match-team-logo w15">
        <img [src]="match?.secondTeam.logo" class="img-size" alt="logo team2">
      </p>
    </li>
  </ul>
</div>

