<div #slide class="slideshow">
  <div class="slider fade">
    <img src="../../../../assets/images/main-slider-img.jpg" style="width:100%">
  </div>
  <div class="slider fade">
    <img src="../../../../assets/images/main-slider-img1.jpg" style="width:100%">
  </div>
  <div class="slider fade">
    <img src="../../../../assets/images/main-slider-img2.jpg" style="width:100%">
  </div>
  <div #dot class="dot-wrap">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>
