* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-black;
}

button {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: $m * 1.3 ;
}

h2 {
  font-size: 1.2 * $m;
}
