* {
  box-sizing: border-box;
}
body {
  font-size: $m;
  font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

input[type=submit], button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: $m * 1.5 ;
}

h2 {
  font-size: $m * 1.4 ;
}

h3 {
  font-size: $m * 1.3 ;
}

h4 {
  font-size: $m * 1.2 ;
}

h5 {
  font-size: $m * 1.1 ;
}

h6 {
  font-size: $m * 1.0 ;
}
