// === Space base ===
$xxs: 2px;
$xs: $xxs * 2;
$s: $xs * 2;
$m: $s * 2;
$l: $m * 2;
$xl: $l * 2;
$xxl: $xl * 2;

$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$color-black: #000;
$color-white: #fff;
$color-grey: #808080;
$color-primary: #62c6f8;
$color-primary: #fff;
$color-second: #000;
$color-header-bg: $color-white;
$color-footer-bg: $color-primary;
$color-footer-hr: $color-white;
