// === Space base ===
$xxs: 2px;
$xs: $xxs * 2;
$s: $xs * 2;
$m: $s * 2;
$l: $m * 2;
$xl: $l * 2;
$xxl: $xl * 2;
// == Space padding ==
// XXS
$p-xxs-x: 0 $xxs;
$p-xxs-y: $xxs 0;
$p-xxs-top: $xxs 0 0;
$p-xxs-right: 0 $xxs 0 0;
$p-xxs-bottom: 0 0 $xxs;
$p-xxs-left: 0 0 0 $xxs;
// XS
$p-xs-x: 0 $xs;
$p-xs-y: $xs 0;
$p-xs-top: $xs 0 0;
$p-xs-right: 0 $xs 0 0;
$p-xs-bottom: 0 0 $xs;
$p-xs-left: 0 0 0 $xs;
// S
$p-s-x: 0 $s;
$p-s-y: $s 0;
$p-s-top: $s 0 0;
$p-s-right: 0 $s 0 0;
$p-s-bottom: 0 0 $s;
$p-s-left: 0 0 0 $s;
// M
$p-m-x: 0 $m;
$p-m-y: $m 0;
$p-m-top: $m 0 0;
$p-m-right: 0 $m 0 0;
$p-m-bottom: 0 0 $m;
$p-m-left: 0 0 0 $m;
// L
$p-l-x: 0 $l;
$p-l-y: $l 0;
$p-l-top: $l 0 0;
$p-l-right: 0 $l 0 0;
$p-l-bottom: 0 0 $l;
$p-l-left: 0 0 0 $l;
// XL
$p-xl-x: 0 $xl;
$p-xl-y: $xl 0;
$p-xl-top: $xl 0 0;
$p-xl-right: 0 $xl 0 0;
$p-xl-bottom: 0 0 $xl;
$p-xl-left: 0 0 0 $xl;
// XXL
$p-xxl-x: 0 $xxl;
$p-xxl-y: $xxl 0;
$p-xxl-top: $xxl 0 0;
$p-xxl-right: 0 $xxl 0 0;
$p-xxl-bottom: 0 0 $xxl;
$p-xxl-left: 0 0 0 $xxl;

// === Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);

// === Color ===
$color-black: #000;
$color-white: #fff;
$color-grey: #808080;
$color-primary: #62c6f8;
$color-header-bg: $color-white;
$color-footer-bg: $color-primary;
$color-footer-hr: $color-white;
$color-border-nav: #e9e9e9;
$color-category-bg: #d9e4e9;
$color-footer-text: $color-white;
$color-btn-submit: #4bbc56;
$color-btn-more: $color-primary;

// === Symbol ===
$space: '\00a0';
$big-dot: '\2022';
