<div class="schedule">
  <ul class="matches">
    <li class="match" *ngFor="let match of matches" (click)="openMatchDetail(match, home)">
      <p class="match-date w30" *ngIf="home">
        <span>
          {{ match.start_at | date:'MMMM dd' }}
        </span>
      </p>
      <p class="match-date w25" *ngIf="!home">
        <span class="short-date">
          {{ match.start_at | date:'MMM, dd' }}
        </span>
        <span>
          {{ match.start_at | date:'MMM, dd | h:mm a' }}
        </span>
      </p>
      <p class="match-team-logo w10 border-left">
        <img [src]="match?.firstTeam.logo" class="img-size" alt="logo team1">
      </p>
      <p class="match-team-code w10">
        {{ match?.firstTeam.code | questionMask }}
      </p>
      <p class="match-score w10">
        <ng-container *ngIf="match.firstTeam.score">
          {{ match.firstTeam.score }} : {{ match.secondTeam.score | questionMask }}
        </ng-container>
        <ng-container *ngIf="!match.firstTeam.score">
          VS
        </ng-container>
      </p>
      <p class="match-team-code w10">
        {{ match?.secondTeam.code | questionMask }}
      </p>
      <p class="match-team-logo w10">
        <img [src]="match?.secondTeam.logo" class="img-size" alt="logo team2">
      </p>
      <p class="match-view w25" *ngIf="!auth.currentUser?.admin">
        <button *ngIf="!match.firstTeam.score" class="match-view-link txt-bold" (click)="open(match)" [disabled]="flag || !match.firstTeam.code">
          {{ match?.prediction?.is_predicted ? 'Predicted' : 'Predict' }}
        </button>
        <a *ngIf="match.firstTeam.score" class="match-view-link txt-bold">
          View
        </a>
      </p>
      <p class="match-view w25" *ngIf="auth.isLoggedIn() && auth.currentUser.admin">
        <button class="match-view-link txt-bold" (click)="open(match)" [disabled]="flag">
          Edit
        </button>
      </p>
    </li>
  </ul>
</div>
