.bracket-wrapper {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  p {
    padding: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
  }
  .auto-justify {
    position: relative;
    color: #fff;
    padding-left: 5%;
    padding-top: 5%;
    &:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url('https://media.gettyimages.com/photos/germanys-midfielder-toni-kroos-shoots-a-corner-kick-during-the-russia-picture-id982169104');
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 0.5;
      z-index: -1;
    }
    .col-child-position {
      position: relative;
      top: 50%;
      transform: translateY(50%);
    }
  }
  .panel-heading {
    margin-bottom: 10px;
    img, span {
      float: left;
    }
    img {
      width: 50px;
      height: 50px;
    }
    span {
      font-size: 26px;
      font-weight: bold;
      padding: 12px 0 12px 10px;
    }
    .clear-float {
      float: none;
    }
  }
  .right-postion {
    img, span {
      float: right;
    }
    span {
      padding: 12px 10px 12px 0;
    }
  }
  .panel-final {
    img, span {
      float: none;
    }
  }
  .col-1 {
    width: 14%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-3 {
    margin-left: 21.333333%;;
    margin-top: 10px;
  }
  .col-offset-4 {
    margin-left: 23.333333%;
  }
  .col-offset-5 {
    margin-left: 27.333333%;
  }
  .col-offset-6 {
    margin-left: 28.333333%;
    margin-top: 40px;
  }
  .col-offset-7 {
    margin-left: 36.333333%;
  }
  .col-offset-8 {
    margin-left: 41.66666667%;
  }
  .col-offset-9 {
    margin-left: 69.666667%;
  }
  .panel-center {
    height: 84px;
    img {
      position: relative;
      top: -150px;
      width: 100%;
    }
    .panel-heading, .panel-footer {
      max-width: 174.91px;
      margin: 0 auto 10px;
    }
  }
  .panel-winner {
    margin-top: 22px;
    img {
      height: 84px;
    }
  }
}
