.bracket-wrapper {
  width: 100%;
  text-align: center;
  background-color: $color-blue;
  p {
    padding: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
  }
  .auto-justify {
    padding-bottom: 32px;
    position: relative;
    color: $color-white;
    padding: 10%;
    &:after {
      content : '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 0.5;
      z-index: -1;
    }
    .panel-center {
      img {
        position: relative;
        top: -120px;
      }
    }
    .match-result {
      .tk1 {
        top: 100px;
      }
      .tk2 {
        top: 170px;
      }
      .tk3 {
        top: 300px;
      }
      .tk4 {
        top: 370px;
      }
      .tk5 {
        top: 100px;
      }
      .tk6 {
        top: 170px;
      }
      .tk7 {
        top: 300px;
      }
      .tk8 {
        top: 370px;
      }
      .tk1, .tk2, .tk3, .tk4 {
        left: 100px;
      }
      .tk5, .tk6, .tk7, .tk8 {
        right: 100px;
        .code {
          float: right;
          padding-right: 12px;
        }
        .score {
          float: left;
        }
      }
      .bk1 {
        top: 200px;
      }
      .bk2 {
        top: 270px;
      }
      .bk3 {
        top: 200px;
      }
      .bk4 {
        top: 270px;
      }
      .bk1, .bk2 {
        left: 300px;
      }
      .bk3, .bk4 {
        right: 300px;
        .code {
          float: right;
          padding-right: 12px;
        }
        .score {
          float: left;
        }
      }
      .ck1 {
        top: 300px;
      }
      .ck2 {
        top: 370px;
      }
      .ck1, .ck2 {
        left: 50%;
        transform: translate(-25%,0);
      }
      .tk1, .tk2, .tk3, .tk4, .bk1, .bk2, .ck1, .ck2 {
        img {
          float: left;
        }
      }
      .tk5, .tk6 , .tk7, .tk8, .bk3, .bk4 {
        img {
          float: right;
        }
      }
      .team-name {
        position: absolute;
        span {
          font-size: 26px;
          font-weight: bold;
          padding: 12px 0 12px 10px;
          display: inline-block;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .bracket-wrapper {
    .auto-justify {
      .panel-center {
        img {
          height: 250px;
          width: 280px;
          position: relative;
          top: -100px;
        }
      }
      .match-result {
        .bk1 {
          top: 200px;
        }
        .bk2 {
          top: 270px;
        }
        .bk3 {
          top: 200px;
        }
        .bk4 {
          top: 270px;
        }
        .bk1, .bk2 {
          left: 260px;
        }
        .bk3, .bk4 {
          right: 260px;
        }
        .team-name {
          img {
            height: 50px;
            width: 50px;
          }
          span {
            font-size: 18px;
            padding: 10px 0 10px 10px;
          }
        } 
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .bracket-wrapper {
    .auto-justify {
      .panel-center {
        img {
          height: 200px;
          width: 200px;
          position: relative;
          top: -80px;
        }
      }
      .match-result {
        .tk1 {
          top: 50px;
        }
        .tk2 {
          top: 110px;
        }
        .tk3 {
          top: 200px;
        }
        .tk4 {
          top: 260px;
        }
        .tk5 {
          top: 50px;
        }
        .tk6 {
          top: 110px;
        }
        .tk7 {
          top: 200px;
        }
        .tk8 {
          top: 260px;
        }
        .tk1, .tk2, .tk3, .tk4 {
          left: 60px;
        }
        .tk5, .tk6, .tk7, .tk8 {
          right: 60px;
        }
        .bk1 {
          top: 130px;
        }
        .bk2 {
          top: 190px;
        }
        .bk3 {
          top: 130px;
        }
        .bk4 {
          top: 190px;
        }
        .bk1, .bk2 {
          left: 200px;
        }
        .bk3, .bk4 {
          right: 200px;
        }
        .ck1 {
          top: 220px;
        }
        .ck2 {
          top: 280px;
        }
        .team-name {
          img {
            height: 50px;
            width: 50px;
          }
          span {
            font-size: 18px;
            padding: 10px 0 10px 10px;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .bracket-wrapper {
    display: none;
  }
}
