.container {
  font-weight: 700;
  padding: 64px;
  .guess-heading {
    font-size: 32px;
    padding-bottom: 32px;
    text-align: center;
  }
  .score-avatar {
    background-size: 100% 100%;
    color: #fff;
    height: 200px;
    text-align: center;
    .info-match {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      padding-top: 8px;
      .info-match-time {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .name-team-1 {
      float: left;
      padding-left: 150px;
      .logo_team-1 {
        height: 110px;
        width: 100px;
        padding-top: 10px;
      } 
    }
    .guess-middle {
      text-align: center;
      .guess {
        height: 50px;
        width: 50px; 
        margin: 30px;
        text-align: center;
        font-size: 18px;
        padding-left: 12px;
        font-weight: 700;
      }
      .cross {
        font-size: 60px;
        font-weight: 700;
        display: inline;
      }
    }
    .name-team-2 {
      float: right;
      padding-right: 150px;
      .logo_team-2 {
        height: 110px;
        width: 100px;
        padding-top: 10px;
      } 
    }
    .name-team-1, .guess-middle, .name-team-2 {
      display: inline;
    }
    .name-team-1 p, .name-team-2 p {
      padding-top: 8px;
    } 
    .btn-guess {
      line-height: 30px;
      font-family: inherit;
      color: white;
      background: #0e7925;
      outline: none;
      border: none;
      padding: 4px 18px;
      font-size: 1em;
      font-weight: 700;
      border-radius: 8px;
      display: block;
      position: relative;
      left: 15%;
    }
  }
}
@media screen and (max-width: 1023px) {
  .container {
    font-weight: 500;
    padding: 32px;
    .guess-heading {
      font-size: 28px;
      padding-bottom: 28px;
    }
    .score-avatar {
      background-size: 100% 100%;
      color: #fff;
      height: 200px;
      text-align: center;
      .info-match {
        font-size: 14px;
        font-weight: 600;
        padding-top: 8px;
        .info-match-time {
          font-size: 12px;
          font-weight: 300;
        }
      }
      .name-team-1 {
        padding-left: 100px;
        .logo_team-1 {
          height: 90px;
          width: 80px;
        } 
      }
      .guess-middle {
        text-align: center;
        .cross {
          font-size: 60px;
          font-weight: 700;
          display: inline;
        }
      }
      .name-team-2 {
        padding-right: 100px;
        .logo_team-2 {
          height: 90px;
          width: 80px;
          padding-top: 10px;
        } 
      }
      .btn-guess {
        padding: 2px 14px;
        font-size: 0.9em;
        position: relative;
        left: 17%;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .container {
    font-weight: 500;
    padding: 32px;
    .guess-heading {
      font-size: 20px;
      padding-bottom: 20px;
    }
    .score-avatar {
      background-size: 100% 100%;
      color: #fff;
      height: 200px;
      text-align: center;
      .info-match {
        font-size: 14px;
        font-weight: 600;
        padding-top: 8px;
        .info-match-time {
          font-size: 12px;
          font-weight: 300;
        }
      }
      .name-team-1 {
        float: left;
        padding-left: 100px;
        .logo_team-1 {
          height: 90px;
          width: 80px;
        } 
      }
      .guess-middle {
        text-align: center;
        .guess {
          height: 50px;
          width: 50px; 
          margin: 30px;
          text-align: center;
          font-size: 18px;
          padding-left: 12px;
          font-weight: 700;
        }
        .cross {
          font-size: 60px;
          font-weight: 700;
          display: inline;
        }
      }
      .name-team-2 {
        float: right;
        padding-right: 100px;
        .logo_team-2 {
          height: 90px;
          width: 80px;
          padding-top: 10px;
        } 
      }
      .btn-guess {
        padding: 2px 14px;
        font-size: 0.9em;
        position: relative;
        left: 17%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .container {
    font-weight: 500;
    padding: 32px;
    .guess-heading {
      font-size: 20px;
      padding-bottom: 20px;
    }
    .score-avatar {
      color: #fff;
      height: 200px;
      text-align: center;
      .info-match {
        font-size: 14px;
        font-weight: 600;
        padding-top: 8px;
        .info-match-time {
          font-size: 12px;
          font-weight: 300;
        }
      }
      .name-team-1 {
        float: left;
        padding-left: 50px;
        .logo_team-1 {
          height: 70px;
          width: 60px;
        } 
        p {
          font-size: 14px;
        }
      }
      .guess-middle {
        .guess {
          height: 40px;
          width: 40px; 
          margin: 20px;
        }
      }
      .name-team-2 {
        float: right;
        padding-right: 50px;
        .logo_team-2 {
          height: 70px;
          width: 60px;
          padding-top: 10px;
        } 
        p {
          font-size: 14px;
        }
      }
      .btn-guess {
        padding: 2px 14px;
        font-size: 0.9em;
        position: relative;
        left: 15%;
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .container {
    font-weight: 500;
    padding: 32px;
    .guess-heading {
      font-size: 12px;
      padding-bottom: 20px;
    }
    .score-avatar {
      height: 360px;
      display: block;
      .info-match {
        font-size: 12px;
        font-weight: 500;
        .info-match-time {
          padding-top: 2px;
          font-size: 10px;
        }
      }
      .name-team-1 {  
        display: block;
        padding: 0px;
        float: none;
        p {
          font-size: 12px;
        }
      }
      .guess-middle {
        .guess {
          height: 40px;
          width: 40px; 
          margin: 20px;
        }
      }
      .name-team-2 {
        display: block;
        padding: 0px;
        float: none;
        p {
          font-size: 12px;
        }
      }
      .btn-guess {
        padding: 0px 10px;
        position: relative;
        left: 35%;
        margin-top: 16px;
      }
    }
  }
}


