.matches {
  width: 100%;
  padding: 10px;
  background: $color-light-black;
  color: $color-white;
  border-bottom: 1px solid $color-grey;

  &:hover {
    background: $color-grey;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .img-size {
    width: 40px;
    height: 40px;
  }
  .location {
    background-image: url(./assets/images/location-icon.png);
    background-position-x: 10px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    address {
      text-align: left;
      padding-left: 30px;
    }
  }
  .view {
    &-link {
      width: 150px;
      line-height: 30px;
      color: $color-white;
      display: block;
      font-size: 12px;
      transition: 400ms all;
      -webkit-transition: 400ms all;
      text-transform: uppercase;
      border: 1px solid $color-blue;
      
      &:hover {
        background: $color-blue;
      }
    }
  }
}
