.our-tour {
  padding: 48px 0;
  .our-tour-title {
    font-size: 38px;
    margin-bottom: 20px;
    span {
      color: $color-blue;
    }
  }
  .our-tour-text {
    padding: 17px 0 35px 0;
    color: $color-light-grey;
    font-size: 15px;
  }
}
