.our-tour {
  padding: 48px 0;
  .our-tour-title {
    font-size: 38px;
    margin-bottom: 20px;
    span {
      color: $color-blue;
    }
  }
  .our-tour-text {
    padding: 17px 0 35px 0;
    color: $color-light-grey;
    font-size: 15px;
  }
}
.main-page {
  .home-schedule {
    .match {
      &-date {
        width: 30%;
      }
      &-team-logo {
        width: 15%;
      }
      &-team-code {
        width: 15%;
      }
      &-location {
        display: none;
      }
      &-view {
        display: none;
      }
    }
  }
}
