.card-signin {
  min-height: 800px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  .form-sinin {
    max-width: 350px;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #F7F7F7;
    .form-signin-heading {
      margin-bottom: 16px;
    }
    .forgot-password {
      margin-top: 10px;
      display: inline-block;
      color: rgb(104, 145, 162);
    }
  }
}

