.card-signin {
  min-height: 700px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  .form-sinin {
    max-width: 380px;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    transform: translateY(50%);
    background-color: $color-white;
    .form-signin-heading {
      margin-bottom: 16px;
    }
    .forgot-password {
      margin-top: 10px;
      display: inline-block;
      text-align: center;
    }
    .go-register {
      color: $color-blue;
    }
  }
}

