.container {
  font-weight: 700;
  padding: 64px;
  .prediction-heading {
    padding: 10px 0 32px 0;
    font-size: 32px;
    text-align: center;
  }
  .score-avatar {
    background-size: 100% 100%;
    color: #fff;
    height: 230px;
    padding-bottom: 10px;
    width: 100%;
    .info-match {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      padding-top: 8px;
      .info-match-time {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .score-prediction {
      display: inline-block;
      position: relative;
      width: 100%;
      .name-team-1 {
        position: absolute;
        left: 18%;
        .logo_team-1 {
          height: 100px;
          width: 100px;
        } 
      }
      .prediction-middle {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        .prediction {
          height: 50px;
          width: 50px; 
          margin: 30px;
          text-align: center;
          font-size: 18px;
          padding-left: 12px;
          font-weight: 700;
        }
        .cross {
          font-size: 60px;
          font-weight: 700;
          display: inline;
        }
      }
      .name-team-2 {
        position: absolute;
        right: 18%;
        .logo_team-2 {
          height: 100px;
          width: 100px;
        } 
      }
      .name-team-1 p, .name-team-2 p {
        padding-top: 8px;
        text-align: center;
        font-size: 18px;
      } 
    }
    .btn-prediction {
      line-height: 30px;
      font-family: inherit;
      color: white;
      background: #0e7925;
      outline: none;
      border: none;
      padding: 4px 24px;
      font-size: 1em;
      font-weight: 700;
      border-radius: 8px;
      position: absolute;
      top: 100px;
      left: 50%;
      margin-top: 28px;
      transform: translateX(-50%);
    }
  }
}
@media screen and (max-width: 1023px) {
  .container {
    .score-avatar {
      .score-prediction {
        .name-team-1 {
          left: 10%;
        }
        .name-team-2 {
          right: 10%;
        }
        .name-team-1 p, .name-team-2 p {
          font-size: 16px;
        } 
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .container {
    font-weight: 600;
    padding: 28px;
    .prediction-heading {
      font-size: 24px;
    }
    .score-avatar {
      height: 500px;
      .info-match {
        font-size: 14px;
        font-weight: 500;
      }
        .info-match-time {
          font-size: 12px;
          font-weight: 400;
        }
    }
    .score-avatar {
      .score-prediction {
        padding-top: 10px;
        text-align: center;
        position: unset;
        .name-team-1 , .name-team-2, .prediction-middle, .btn-prediction {
          position: unset;
        }
        .name-team-1 p, .name-team-2 p {
          font-size: 14px;
        } 
        .prediction-middle {
          transform: none;
        }
        .btn-prediction {
          transform: none;
        }
      }
    }
  }
}
