.tournament-detail {
  font-size: 16px;
  line-height: 24px;
  font-family: $font-body;
  .tournament-content {
    .tournament-name {
      height: 500px;
      background-image: url('./assets/images/championsleaguelogo.jpg');
      position: relative;
      p {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 50%;
        font-size: 40px;
        font-weight: 1000px;
        color: $color-white;
      }
    }
    .article-wrap {
      table {
        .heading-table {
          background-color: $color-blue;
          color: $color-white;
        }
      }
      padding-bottom: 32px;
      .article-tournament {
        margin: 32px 0 32px;
      }
      .article-tournament:first-child {
        margin-top: 64px;
      }
      .bracket-wrapper {
        font-family: $font-body;
        min-height: 600px;
        width: 100%;
        text-align: center;
        background-color: $color-blue;
        p {
          padding: 20px;
          text-transform: uppercase;
          font-size: 32px;
          font-weight: bold;
        }
        .auto-justify {
          padding-bottom: 32px;
          position: relative;
          color: $color-white;
          padding: 10%;
          padding-bottom: 56px;
          &:after {
            content : '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            width: 100%;
            height: 100%;
            opacity : 0.5;
            z-index: -1;
          }
          .panel-center {
            img {
              height: 255px;
              width: 280px;
              position: relative;
              top: -120px;
            }
          }
          .match-result {
            .tk1 {
              top: 100px;
            }
            .tk2 {
              top: 170px;
            }
            .tk3 {
              top: 300px;
            }
            .tk4 {
              top: 370px;
            }
            .tk5 {
              top: 100px;
            }
            .tk6 {
              top: 170px;
            }
            .tk7 {
              top: 300px;
            }
            .tk8 {
              top: 370px;
            }
            .tk9 {
              top: 500px;
            }
            .tk10 {
              top: 570px;
            }
            .tk11 {
              top: 700px;
            }
            .tk12 {
              top: 770px;
            }
            .tk13 {
              top: 500px;
            }
            .tk14 {
              top: 570px;
            }
            .tk15 {
              top: 700px;
            }
            .tk16 {
              top: 770px;
            }
            .tk5 .code, .tk6 .code, .tk7 .code, .tk8 .code {
              margin-right: 15px;
            }
            .tk1, .tk2, .tk3, .tk4 {
              left: 20px;
            }
            .tk5, .tk6, .tk7, .tk8 {
              right: 20px;
              .code {
                float: right;
                padding-right: 12px;
              }
              .score {
                float: left;
              }
            }
            .bk2 {
              top: 200px;
            }
            .bk1 {
              top: 270px;
            }
            .bk3 {
              top: 270px;
            }
            .bk4 {
              top: 200px;
            }
            .bk6 {
              top: 590px;
            }
            .bk5 {
              top: 660px;
            }
            .bk7 {
              top: 590px;
            }
            .bk8 {
              top: 660px;
            }
            .bk1, .bk2 {
              left: 175px;
            }
            .bk3 .code, .bk4 .code{
              margin-right: 15px;
            }
            .bk3, .bk4 {
              right: 175px;
              .code {
                float: right;
                padding-right: 12px;
              }
              .score {
                float: left;
              }
            }
            .ck1 {
              top: 235px;
              right: 40%;
            }
            .ck2 {
              top: 235px;
              left: 40%;
            }
            .ck1, .ck2  {
              img{
                display: block;
                margin-left: 16px;
              }
            }
            .tk1, .tk2, .tk3, .tk4, .bk1, .bk2 {
              img {
                float: left;
              }
            }
            .tk5, .tk6 , .tk7, .tk8, .bk3, .bk4 {
              img {
                float: right;
              }
            }
            .team-name {
              position: absolute;
              img {
                width: 55px;
                height: 55px;
              }
              span {
                font-size: 26px;
                font-weight: bold;
                padding: 12px 0 12px 10px;
                display: inline-block;
              }
              span.code {
                width: 50px;
                padding-right: 48px;
              }
            }
          }
          .winner {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            img {
              height: 100px;
              width: 100px;
              display: block;
              margin-left: 10px;
            }
            span {
              font-size: 32px;
              font-weight: bold;
              padding: 12px 0 12px 10px;
              display: inline-block;
            }
          }
        }
      }
    }
    .special-detail {
      width: 100%;
      font-size: 22px;
      margin: 32px auto;
      padding: 24px;
      position: relative;
      border: none;
      background: $color-light-grey;
      font-weight: bold;
      .tournament-bracket {
        width: 80%;
        margin: 0 auto;
        .bracket-link {
          font-family: $font-family;
          span a {
            color: $color-bold-blue;
          }
          span a:hover {
            color: $color-blue ;
          }
        }
      }
    }
    .special-detail::before {
      background-image: url('./assets/images/blockquote-left-bg.png');
      top: 10px;
      left: 10px;
      
    }
    .special-detail::after {
      background-image: url('./assets/images/blockquote-right-bg.png');
      bottom: 10px;
      right: 10px;
    }
    .special-detail::before, .special-detail::after {
      content: '';
      width: 80px;
      height: 60px;
      position: absolute;
      opacity: 0.1;
    }
    table {
      margin: 32px 0;
      width: 100%;
      .heading {
        th {
          font-family: $font-family;
          width: 25%;
          padding: 10px;
          font-size: 18px;
          color: $color-white;
          background: $color-light-black;
          font-weight: normal;
        }
        th:nth-child(2n) {
          background: $color-grey;
        }
      }
      tr {
        td {
          padding: 4px;
          a {
            display: flex;
            img {
              height: 40px;
              width: 40px;
            }
            span {
              padding: 10px 6px;
            }
          }
        }
      }
    }
    table, th, td {
      border: 1px solid $color-black;
      border-collapse: collapse;
    }
    .tournament-schedules {
      text-align: center;
      a {
        color: $color-bold-blue;
        }
      a:hover {
        color: $color-blue ;
      }
    }
  }
  .other-tournament {
    border-top: 1px solid $color-light-grey;
    padding: 32px 0 64px;
    .other-post-title {
      padding-left: 16px;
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        font-family: $font-family;
        span {
          color: $color-blue;
        }
      }
    }
    .tournament-wrap {
      margin: 16px 0;
      position: relative;
      .tournament-list {
        width: 100%;
        .tournament-item {
          width: calc(100% / 3);
          padding: 0 16px 0;
          display: inline-block;
          position: relative;
          overflow: hidden;
          .tournament-block {
            border: 1px solid $color-light-grey;
            img {
              width: 100%;
              height: 200px;
            }
            .tournament-infor {
              background-color: $color-white;
              .tournament-desc {
                padding: 10px 8px;
                a:hover {
                  color: $color-blue;
                }
              }
            }
            .tournament-date {
              color: $color-grey;
            }
          }
        }
      }
    }
  }
@media screen and (max-width: 1000px) {
  .tournament-detail {
    .tournament-content {
      .article-wrap {
        .bracket-wrapper {
          .auto-justify {
            .panel-center {
              img {
                height: 380px;
                width: 380px;
                position: relative;
                top: -100px;
              }
            }
            .match-result {
              .tk1 {
                top: 50px;
              }
              .tk2 {
                top: 110px;
              }
              .tk3 {
                top: 230px;
              }
              .tk4 {
                top: 290px;
              }
              .tk5 {
                top: 50px;
              }
              .tk6 {
                top: 110px;
              }
              .tk7 {
                top: 230px;
              }
              .tk8 {
                top: 290px;
              }
              .tk9 {
                top: 410px;
              }
              .tk10 {
                top: 470px;
              }
              .tk11 {
                top: 590px;
              }
              .tk12 {
                top: 650px;
              }
              .tk13 {
                top: 410px;
              }
              .tk14 {
                top: 470px;
              }
              .tk15 {
                top: 590px;
              }
              .tk16 {
                top: 650px;
              }
              .bk2 {
                top: 140px;
              }
              .bk1 {
                top: 200px;
              }
              .bk3 {
                top: 140px;
              }
              .bk4 {
                top: 200px;
              }
              .bk6 {
                top: 500px;
              }
              .bk5 {
                top: 560px;
              }
              .bk7 {
                top: 500px;
              }
              .bk8 {
                top: 560px;
              }
              .ck1 {
                top: 380px;
              }
              .ck2 {
                top: 440px;
              }
              .team-name {
                img {
                  height: 50px;
                  width: 50px;
                }
                span {
                  font-size: 18px;
                  padding: 10px 0 10px 10px;
                }
              } 
            }
          }
        }
      }
      table {
        .heading {
          th {
            font-size: 24px;
          }
        }
      }
    }
    .other-tournament {
      .tournament-wrap {
        .tournament-list {
          .tournament-item .tournament-block img {
            height: 150px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 928px) {
  .tournament-detail {
    font-size: 14px;
    line-height: 22px;
    .tournament-content {
      table {
        .heading {
          th {
            font-size: 20px;
          }
        }
      }
      .article-wrap {
        .bracket-wrapper {
          .auto-justify {
            .match-result {
              .bk1, .bk2, .bk5, .bk6 {
                left: 145px;
              }
              .bk3, .bk4, .bk7, .bk8 {
                right: 145px;
              }
              .ck5, .ck6 {
                left: 215px;
              }
              .ck3, .ck4 {
                right: 215px;
              }
            }
          }
        }
      }
    }
    .other-tournament {
      .tournament-wrap {
        .tournament-list {
          .tournament-item:last-child {
            padding-bottom: 0px;
          }
          .tournament-item {
            width: calc(100% / 2);
            padding: 0 16px 16px;
            display: inline-block;
            position: relative;
            overflow: hidden;
            .tournament-block {
              border: 1px solid $color-light-grey;
              img {
                width: 100%;
                height: 150px;
              }
              .tournament-infor{
                background-color: $color-white;
                .tournament-desc {
                  padding: 10px 0 10px;
                  a:hover {
                    color: $color-blue;
                  }
                }
              }
              .tournament-date {
                color: $color-grey;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .tournament-detail {
    .tournament-content {
      .article-wrap {
        .bracket-wrapper {
          display: none;
        }
      }
    }
  }
}
}
