.tournament-list {
  width: 75%;
  float: right;
  .card {
    width: calc(100% / 3);
    padding: 0 0 3% 3%;
    float: left;
    img {
      height: auto;
    }
    .card-wrapper {
      height: 250px;
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 14px 14px 20px 24px; 
      .date-creation {
        margin: 14px 0;
      }
      .card-title {
        color: $color-grey;
        font-size: 16px;
        margin-bottom: 16px;
      }
      .card-content {
        height: 70px;
        overflow: hidden;
        font-size: 15px;
        line-height: 22px;
        color: $color-light-grey;
        margin-bottom: 32px;
      }
      .read-more {
        position: absolute;
        left: 0;
        bottom: 0;
        border: 0;
        display: inline-block;
        outline: 0;
        padding: 12px;
        color: $color-white;
        background-color: $color-black;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .tournament-top {
    margin-bottom: 16px;
    img {
      width: 100%
    }
  }
  .tournament-bottom {
    clear: both;
    padding: 0 0 32px 3%;
    .pagination-control {
      float: right;
      display: block;
    }
  }
}

@media screen and (max-width: 979px) {
  .tournament-list {
    float: none;
    width: 100%;
    .card:first-child {
      padding: 0 3% 3% 0;
    }
  } 
}
@media screen and (max-width: 767px) {
  .tournament-list {
    .card {
      width: 50%;
      &:nth-child(2n + 1) {
        padding: 0 3% 3% 0;
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .tournament-list {
    .card {
      width: 100%;
    }
  }
}
