<div class="football-images">
  <div class="our-team-wrap">
    <div class="container">
      <div class="our-team-title txt-center clearfix">
        <h3>Our
          <span>Team</span>
        </h3>
      </div>
      <div class="our-team-text txt-center">
        <p>Nullam quis eros tellus. Duis sit amet neque nec orci feugiat tincidunt. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla sed turpis aliquet, pharetra enim sit amet, congue erat.</p>
        <p *ngIf="readTeam">Cras convallis feugiat felis eget venenatis. Sed leo tellus, luctus eget ante quis, rutrum dignissim enim. Morbi
          efficitur tellus non mauris tincidunt feugiat. Vestibulum quis nunc in nibh eleifend convallis. Vestibulum nec
          viverra dui. Suspendisse vel neque eros. Donec tincidunt tempus massa sed vehicula. Integer ullamcorper at elit
          eu commodo.</p>
      </div>
      <div class="team-read-wrap">
        <a class="team-read-more" (click)='changeStatus(false)'>Read More</a>
      </div>
    </div>
  </div>
  <div class="player-images clearfix" [style.backgroundImage]="'url('+ imageSource +')'">
    <ul class="player-list container">
      <li class="player-item">
        <div class="player-item-top" [style.backgroundImage]="'url('+ imageSource2 +')'">
          <div class="player-number">
            <span>11</span>
          </div>
        </div>
        <div class="player">
          <p class="player-name txt-center">
            <a href="https://vi.wikipedia.org/wiki/Neymar">Neymar Jr</a>
          </p>
          <p class="team-name txt-center">Brasil</p>
        </div>
      </li>
      <li class="player-item">
        <div class="player-item-top" [style.backgroundImage]="'url('+ imageSource2 +')'">
          <div class="player-number">
            <span>11</span>
          </div>
        </div>
        <div class="player">
          <p class="player-name txt-center">
            <a href="https://vi.wikipedia.org/wiki/Neymar">Neymar Jr</a>
          </p>
          <p class="team-name txt-center">Brasil</p>
        </div>
      </li>
      <li class="player-item">
        <div class="player-item-top" [style.backgroundImage]="'url('+ imageSource2 +')'">
          <div class="player-number">
            <span>11</span>
          </div>
        </div>
        <div class="player">
          <p class="player-name txt-center">
            <a href="https://vi.wikipedia.org/wiki/Neymar">Neymar Jr</a>
          </p>
          <p class="team-name txt-center">Brasil</p>
        </div>
      </li>
      <li class="player-item">
        <div class="player-item-top" [style.backgroundImage]="'url('+ imageSource2 +')'">
          <div class="player-number">
            <span>11</span>
          </div>
        </div>
        <div class="player">
          <p class="player-name txt-center">
            <a href="https://vi.wikipedia.org/wiki/Neymar">Neymar Jr</a>
          </p>
          <p class="team-name txt-center">Brasil</p>
        </div>
      </li>
    </ul>
  </div>
</div>
