<div class="tournament-detail">
  <div class="tournament-content">
    <img src="./../../../assets/images/championsleaguelogo.jpg" alt="Championsleague-Logo">
    <div class="article-tournament">
    <p>
      Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus. Pellentesque aliquam justo ut rhoncus lobortis. In sed venenatis massa. Sed sodales faucibus odio, eget tempus nibh accumsan ut. Fusce tincidunt semper finibus. Nullam consequat non leo interdum pulvinar.
      <br><br>
      Suspendisse odio erat, suscipit vel aliquam tristique, dapibus at neque. Aliquam lectus tellus, feugiat non sodales nec, rhoncus a est. Etiam hendrerit, eros nec mollis blandit, velit sem aliquet ex, id tristique metus ligula tincidunt nisi. Ut porta augue at molestie feugiat. Donec quis neque molestie, interdum sapien at, dictum diam. Nam aliquam diam vitae purus vestibulum, sit amet rutrum tortor aliquet. Curabitur rhoncus consectetur tempor. Vivamus volutpat, mauris non auctor molestie, est ex auctor eros, vel egestas eros tellus non dui.
    </p>
    <div class="special-detail">
      <marquee class="tournament-bracket">
        <span><a href="#">Ut scelerisque odio et cursus hendrerit. Nullam volutpat ligula elit, sit amet viverra est consequat non. Suspendisse nisl magna, suscipit sed volutpat nec, commodo nec nunc. Nunc posuere commodo ipsum, sit amet pretium felis eleifend vitae. Cras eget aliquam augue.</a></span>
      </marquee>
    </div>
    <p>
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sit amet consequat magna. Donec congue sem felis, vel bibendum risus rutrum vel. Vivamus sed turpis nec nisl volutpat euismod eu in nisi. In sapien tortor, efficitur non ullamcorper in, fermentum malesuada quam. Fusce sed elit pharetra, semper nibh id, rutrum est. Phasellus id mollis elit. Nullam iaculis consequat est sed dignissim. Morbi rhoncus aliquet justo, et feugiat augue feugiat ut. Integer odio est, lobortis eu dolor faucibus, pretium imperdiet sapien. Nunc in ligula metus. Quisque mi lacus, ullamcorper sed bibendum vel, vehicula a tortor.
    </p>
    <table>
      <tr class="heading txt-center">
        <th>Table A</th>
        <th>Table B</th>
        <th>Table C</th>
        <th>Table D</th>
      </tr>
      <tr>
        <td>Borussia Dortmund</td>
        <td>Atlético Madrid</td>
        <td>Monaco</td>
        <td>PSG</td>
      </tr>
      <tr>
        <td>Barcelona</td>
        <td>Tottenham Hotspur</td>
        <td>Liverpool</td>
        <td>Napoli</td>
      </tr>
      <tr>
        <td>Porto</td>
        <td>Bayern München</td>
        <td>Manchester City</td>
        <td>Olympique Lyonnais</td>
      </tr>
      <tr>
        <td>Real Madrid</td>
        <td>Juventus</td>
        <td>Manchester United</td>
        <td>Roma</td>
      </tr>
    </table>
  </div>
  <div class="other-tournament">
    <div class="other-post-title">
      <h3>Other <span>Posts</span></h3>
    </div>
    <div class="tournament-wrap">
      <ul class="tournament-list"> 
        <li class="tournament-item">
          <div class="tournament-block">
            <img src="./../../../assets/images/championsleaguelogo.jpg" alt="Championsleague-Logo"/>
            <div class="tournament-infor">
              <p class="tournament-date txt-center">November 19, 2018</p>
              <p class="tournament-desc txt-center"><a href="#">Nunc in interdum neque. Mauris tincidunt molestie felis</a></p>
            </div>
          </div>
        </li>
        <li class="tournament-item">
          <div class="tournament-block">
            <img src="./../../../assets/images/Premier_League_Logo.png" alt="Premier_League_Logo"/>
            <div class="tournament-infor">
              <p class="tournament-date txt-center">November 20, 2018</p>
              <p class="tournament-desc txt-center"><a href="#">Nunc in interdum neque. Mauris tincidunt molestie felis</a></p>
            </div>
          </div>
        </li>
        <li class="tournament-item">
          <div class="tournament-block">
            <img src="./../../../assets/images/Laliga.jpg" alt="Laliga-Logo"/>
            <div class="tournament-infor">
              <p class="tournament-date txt-center">November 21, 2018</p>
              <p class="tournament-desc txt-center"><a href="#">Nunc in interdum neque. Mauris tincidunt molestie felis</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
