<div class="container">
  <div class="tournament-register">
    <div class="register" [style.backgroundImage]="'url('+ imageSource +')'">
      <div class="heading">
        <p>
          <b> Create Tournament Register</b>
        </p>
      </div>
      <form class="register-form" #elmForm="ngForm" (ngSubmit)="onSubmit(elmForm)">
        <div class="form-group">
          <input class="form-inline" type="text" name="tournamentName" ngModel #tournamentName="ngModel" required
            minlength="5" placeholder="Tournament Name" />
          <div *ngIf="tournamentName.invalid && (tournamentName.dirty || tournamentName.touched)" class="alert">
            <p *ngIf="tournamentName.errors.required">
              (*)Tournament name is required
            </p>
            <p *ngIf="tournamentName.errors.minlength">
              (*)Tournament name must be at least 5 characters long
            </p>
          </div>
        </div>
        <div class="form-group">
          <input class="form-inline" type="date" name="start" ngModel #start="ngModel" required placeholder="Start Day">
          <div *ngIf="start.invalid && (start.dirty || start.touched)" class="alert">
            <p *ngIf="start.errors.required">
              (*)Start day is required
            </p>
          </div>
        </div>
        <div class="form-group">
          <input class="form-inline" type="date" name="finish" ngModel #finish="ngModel" required
            placeholder="Finish Day">
          <div *ngIf="finish.invalid && (finish.dirty || finish.touched)" class="alert">
            <p *ngIf="finish.errors.required">
              (*)Finish day is required
            </p>
          </div>
        </div>
        <div class="form-group">
          <select class="form-inline" name="number" ngModel #number="ngModel" required
            (ngModelChange)="convert(number)">
            <option value="4">4</option>
            <option value="8">8</option>
          </select>
          <div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert">
            <p *ngIf="number.errors.required">
              (*)Number team is required
            </p>
          </div>
        </div>
        <div class="form-group" *ngIf="number.value > 0">
          <table class="tb-league" *ngFor="let item of groups, let i of index, let team of teams">
            <tr class="row">
              <th>
                <p>Table {{ tables[i] }}</p>
                <a (click)="openModal()">
                  <span class="fa fa-plus-circle"></span>
                </a>
              </th>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4)">
              <td>
                <div class="member-table-data">
                  <span>1
                    <label *ngIf="teams[i*4]">{{ teams[i*4].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4]">
                    <img *ngIf="teams[i*4]" width="60" height="60" [src]="teams[i*4].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4 + 1)">
              <td>
                <div class="member-table-data">
                  <span>2
                    <label *ngIf="teams[i*4 + 1]">{{ teams[i*4 + 1].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4 + 1]">
                    <img *ngIf="teams[i*4 + 1]" width="60" height="60" [src]="teams[i*4 + 1].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4 + 2)">
              <td>
                <div class="member-table-data">
                  <span>3
                    <label *ngIf="teams[i*4 + 2]">{{ teams[i*4 + 2].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4 + 2]">
                    <img *ngIf="teams[i*4 + 2]" width="60" height="60" [src]="teams[i*4 + 2].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4 + 3)">
              <td>
                <div class="member-table-data">
                  <span>4
                    <label *ngIf="teams[i*4 + 3]">{{ teams[i*4 + 3].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4 + 3]">
                    <img *ngIf="teams[i*4 + 3]" width="60" height="60" [src]="teams[i*4 + 3].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <textarea class="form-inline" type="text" name="infor" ngModel #infor="ngModel" required
            placeholder="Short Description Of Team"></textarea>
          <div *ngIf="infor.invalid && (infor.dirty || infor.touched)" class="alert">
            <p *ngIf="infor.errors.required">
              (*)Informarion is required
            </p>
          </div>
        </div>
        <button class="btn-form" [class.disabled]="!Submited || elmForm.invalid" disabled="!Submited || elmForm.invalid">
          Send Application
        </button>
      </form>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</div>

<div #modal class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <form #f="ngForm" (ngSubmit)="onModalSubmit(f)">
      <div class="form-group">
        <label>Name: </label>
        <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="teamName" #name="ngModel" ngModel required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <p *ngIf="name.errors.required">
            (*)Name is required
          </p>
        </div>
      </div>
      <div class="form-group">
        <label>Code Name: </label>
        <input class="form-control" type="text" placeholder="Code Name" name="code" [(ngModel)]="teamCode" #code="ngModel" ngModel required>
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
          <p *ngIf="code.errors.required">
            (*)Code name is required
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="image-wrapper">
          <label>Cover: </label>
          <img class="cover-img" width="60" height="60" [src]="imageCover" alt="">
        </div>
        <input class="form-control" type="file" name="cover" (change)="handleFileInput($event.target.files, false)">
      </div>
      <div class="form-group">
        <div class="image-wrapper">
          <label>Logo: </label>
          <img class="logo-img" width="60" height="60" [src]="imageLogo" alt="">
        </div>
        <input class="form-control" type="file" name="logo" (change)="handleFileInput($event.target.files)">
      </div>
      <div class="form-group txt-center">
        <button type="submit" class="btn btn-success" (click)="closeModal()" [disabled]="f.invalid">Add Team</button>
      </div>
    </form>
  </div>
</div>
