<div class="container">
  <div class="tournament-register">
    <div class="register" [style.backgroundImage]="'url('+ imageSource +')'">
      <div class="heading">
        <p>
          <b> Create Tournament Register</b>
        </p>
      </div>
      <form class="register-form" #elmForm="ngForm" (ngSubmit)="onSubmit(elmForm)">
        <div class="form-group">
          <input class="form-inline" type="text" name="tournamentName" ngModel #tournamentName="ngModel" required
            minlength="3" placeholder="Tournament Name" />
          <div *ngIf="tournamentName.invalid && (tournamentName.dirty || tournamentName.touched)" class="alert">
            <p *ngIf="tournamentName.errors.required">
              (*)Tournament name is required
            </p>
            <p *ngIf="tournamentName.errors.minlength">
              (*)Tournament name must be at least 3 characters long
            </p>
          </div>
        </div>
        <div class="form-group">
          <input class="form-inline" name="start" ngModel #start="ngModel" required  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Day">
          <owl-date-time #dt1></owl-date-time>
          <div *ngIf="start.invalid && (start.dirty || start.touched)" class="alert">
            <p *ngIf="start.errors.required">
              (*)Start day is required
            </p>
          </div>
        </div>
        <div class="form-group">
          <select class="form-inline" name="number" ngModel #number="ngModel" required
            (ngModelChange)="convert(number)">
            <option value="4">4</option>
            <option value="8">8</option>
          </select>
          <div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert">
            <p *ngIf="number.errors.required">
              (*)Number team is required
            </p>
          </div>
        </div>
        <div class="form-group" *ngIf="number.value > 0">
          <table class="tb-league" *ngFor="let item of groups, let i of index, let team of teams">
            <tr class="row">
              <th>
                <p>Table {{ tables[i] }}</p>
              </th>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4)">
              <td>
                <div class="member-table-data">
                  <span>1.
                    <label *ngIf="teams[i*4]">{{ teams[i*4].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4]">
                    <img *ngIf="teams[i*4]" width="60" height="60" [src]="teams[i*4].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4 + 1)">
              <td>
                <div class="member-table-data">
                  <span>2.
                    <label *ngIf="teams[i*4 + 1]">{{ teams[i*4 + 1].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4 + 1]">
                    <img *ngIf="teams[i*4 + 1]" width="60" height="60" [src]="teams[i*4 + 1].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4 + 2)">
              <td>
                <div class="member-table-data">
                  <span>3.
                    <label *ngIf="teams[i*4 + 2]">{{ teams[i*4 + 2].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4 + 2]">
                    <img *ngIf="teams[i*4 + 2]" width="60" height="60" [src]="teams[i*4 + 2].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
            <tr class="member-team" (click)="openModal(i * 4 + 3)">
              <td>
                <div class="member-table-data">
                  <span>4.
                    <label *ngIf="teams[i*4 + 3]">{{ teams[i*4 + 3].name }}</label>
                  </span>
                  <a *ngIf="teams[i*4 + 3]">
                    <img *ngIf="teams[i*4 + 3]" width="60" height="60" [src]="teams[i*4 + 3].logo" class="logo" alt="">
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <textarea class="form-inline" type="text" name="infor" ngModel #infor="ngModel" required
            placeholder="Short Description Of Team"></textarea>
          <div *ngIf="infor.invalid && (infor.dirty || infor.touched)" class="alert">
            <p *ngIf="infor.errors.required">
              (*)Informarion is required
            </p>
          </div>
        </div>
        <div class="div-btn">
          <button class="btn-form" [class.disabled]="elmForm.invalid" [attr.disabled]="elmForm.valid ? null : ''">
            Send Application
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</div>

<div #modal class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <form #f="ngForm" (ngSubmit)="onModalSubmit(f)" class="team-form">
      <div class="form-group team-name">
        <label>Name: </label>
        <input class="form-control team-input" type="text" placeholder="Name" name="name" [(ngModel)]="teamName"
          #name="ngModel" ngModel required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <p *ngIf="name.errors.required">
            (*)Name is required
          </p>
        </div>
      </div>
      <div class="form-group">
        <label>Code Name: </label>
        <input class="form-control team-input" type="text" placeholder="Code Name" name="code" [(ngModel)]="teamCode"
          #code="ngModel" ngModel required maxlength="4">
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
          <p *ngIf="code.errors.required">
            (*)Code name is required
          </p>
        </div>
      </div>
      <div class="form-group middle fileinputs">
        <label>Cover: </label>
        <img class="cover-img" width="60" height="60" [src]="imageCover" alt="">
        <input class="form-control team-input input-file file" type="file" name="cover"
          (change)="handleFileInput($event.target.files, false)" ngModel>
      </div>
      <div class="form-group middle fileinputs">
        <label>Logo: </label>
        <img class="logo-img" width="60" height="60" [src]="imageLogo" alt="">
        <input class="form-control team-input input-file file" type="file" name="logo"
          (change)="handleFileInput($event.target.files)" ngModel>
      </div>
      <div class="form-group txt-center">
        <button type="submit" class="btn btn-success" (click)="closeModal()" [disabled]="f.invalid && isSubmited">Add Team</button>
      </div>
    </form>
  </div>
</div>
