<div class="page-container clearfix">
  <header class="header sticky">
    <div class="container">
      <div class="bottom-nav clearfix">
        <a *ngIf="!auth?.currentUser?.admin" routerLink="/" class="bottom-nav-left pull-left">
          <img class="bottom-nav-logo" src="../../../../assets/images/logo-img.png">
          <span class="bottom-nav-brand">Sport<em>.clc</em></span>
        </a>
        <a *ngIf="auth?.currentUser?.admin" routerLink="/admin" class="bottom-nav-left pull-left">
          <img class="bottom-nav-logo" src="../../../../assets/images/logo-img.png">
          <span class="bottom-nav-brand">Sport<em>.clc</em></span>
        </a>
        <div [class.responsive]="isClick" class="bottom-nav-right pull-right">
          <div *ngIf="auth.isLoggedIn()" class="dropdown dropdown-image inline-block clearfix">
            <ng-container *ngIf="auth.currentUser.admin">
              <a class="dropbtn">{{ auth.currentUser.name || 'Username' }}
                <span class="fa fa-caret-down dropdown-ic"></span>
              </a>
              <div class="dropdown-content dropdown-right">
                <a (click)="logout()" class="sub-link">Log out</a>
              </div>
            </ng-container>
            <ng-container *ngIf="!auth.currentUser.admin">
              <a class="dropbtn btn-image">
                <img src="../../../../assets/images/T7Z35JWLQ-U9R5N05T7-e955542bf924-48.jpg" alt="user-image">
                <span class="fa fa-caret-down dropdown-ic"></span>
              </a>
              <div class="dropdown-content dropdown-right">
                <a class="sub-link">{{ auth.currentUser.name || 'Username' }}</a>
                <a class="sub-link" routerLink="/prediction-list">Prediction list</a>
                <a class="sub-link">Profile</a>
                <a (click)="logout()" class="sub-link">Log out</a>
              </div>
            </ng-container>
          </div>
          <a routerLink="/login" *ngIf="!auth.isLoggedIn()" class="main-link" routerLinkActive="active">Log in</a>
          <a class="icon" (click)="createResponsive()">&#9776;</a>
        </div>
      </div>
    </div>
  </header>

  <div class="left-content">
    <router-outlet></router-outlet>
  </div>

  <div class="sidebar-menu">
    <div class="menu">
      <ul id="menu">
        <li id="menu-home"><a routerLink="/admin"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
        <li>
          <a routerLink="/admin/tournaments" routerLinkActive="active">
            <i class="fa fa-cogs"></i>
            <span>Tournaments</span><span class="fa fa-angle-right" style="float: right"></span>
          </a>
          <ul id="menu-academico-sub">
            <li id="menu-academico-boletim"><a routerLink="tournament-registration" >Create tournament</a></li>
          </ul>
        </li>
        <li id="menu-comunicacao"><a><i class="fa fa-book nav_icon"></i><span>Schedules</span><span
              class="fa fa-angle-right" style="float: right"></span></a>
          <ul id="menu-comunicacao-sub">
            <li *ngFor="let tournament of tournaments" id="menu-mensagens" style="width: 120px">
                <a routerLink="/admin/schedules/{{ tournament.id }}">
                  {{ tournament.name || 'Unset name' }}
                </a>
            </li>
          </ul>
        </li>
        <li><a><i class="fa fa-map-marker"></i><span>Predicted Matches</span></a></li>
        <li id="menu-academico">
          <a><i class="fa fa-file-text"></i><span>Pages</span><span class="fa fa-angle-right"
              style="float: right"></span>
          </a>
          <ul id="menu-academico-sub">
            <li id="menu-academico-boletim"><a>Login</a></li>
            <li id="menu-academico-avaliacoes"><a>Sign Up</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>
        <li><a><i class="fa fa-envelope"></i><span>Mailbox</span><span class="fa fa-angle-right"
              style="float: right"></span></a>
          <ul id="menu-academico-sub">
            <li id="menu-academico-avaliacoes"><a>Inbox</a></li>
            <li id="menu-academico-boletim"><a>Compose email</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
