<div class="container">
  <form #eleForm="ngForm" (ngSubmit)="submit(eleForm)">
    <div class="row">
      <div class="col-md-12 unfloat">
        <label>Name: </label>
        <input type="text" placeholder="Name" name="name" [(ngModel)]="team.name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 unfloat">
        <label>Nick Name: </label>
        <input type="text" placeholder="Nick Name" name="nickName" [(ngModel)]="team.nickName">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 unfloat logo">
        <label>Logo: </label>
        <img class="logo-img" [src]="imageLogo" alt="">
        <input type="file" class="file" name="logo"[(ngModel)]="logo" (change)="handleFileInput($event.target.files, eleForm)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 unfloat cover">
        <label>Cover: </label>
        <img class="cover-img" [src]="imageCover" alt="">
        <input type="file" name="cover" [(ngModel)]="cover" (change)="handleFileInput2($event.target.files, eleForm)">
      </div>
    </div>
    <button >Add Team</button>
  </form>
</div>
