.banner {
  display: block;
  width: 100%;
  .banner-img {
    display: block;
    width: 100%;
  }
}
.carousel-caption {
  bottom: 50px;
}
.carousel-indicators {
  bottom: 35px;
}
.carousel-img {
  width: 100%;
}
