.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.row{
  margin: 0 -10px;
}
.row::after, .container::after {
  display: block;
  content: "";
  clear: both;
}
.middle > * {
  vertical-align: middle;
}
.center {
  position: relative;
  p,
  a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.w20 {
  width: 20%;
}
.w40 {
  width: 40%;
}
