.slideshow {
  position: relative;
  .slider {
    display: none;
    img {
      vertical-align: middle;
    }
  }
  .fade {
    animation: fade 1.5s;
  }
  .dot-wrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 0;
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: $color-grey;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active-dot {
      background-color: $active-dot;
    }
  }
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
