<footer class="page-footer">
  <div class="container">
    <div class="footer-top clearfix">
      <div class="footer-top-left pull-left">
        <a href="#">
          <img src="../../../../assets/images/footer-logo-img.png" alt="logo-footer" class="logo-footer">
          <span>Sport</span>
          .clc
        </a>
      </div>
      <div class="footer-top-right pull-right">
        <ul class="footer-social-list">
          <li class="footer-social-item"><a href="#"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a></li>
          <li class="footer-social-item"><a href="#"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
          <li class="footer-social-item"><a href="#"><fa-icon [icon]="['fab', 'google-plus']"></fa-icon></a></li>
          <li class="footer-social-item"><a href="#"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom clearfix">
      <nav class="footer-bottom-left pull-left">
        <ul class="footer-menu-list">
          <li class="footer-menu-item"><a class="menu-link" href="#">About</a></li>
          <li class="footer-menu-item"><a class="menu-link" href="#">Players</a></li>
          <li class="footer-menu-item"><a class="menu-link" href="#">Match</a></li>
          <li class="footer-menu-item"><a class="menu-link" href="#">Results</a></li>
          <li class="footer-menu-item"><a class="menu-link" href="#">News</a></li>
        </ul>
      </nav>
      <div class="footer-bottom-right pull-right">
        <p class="address-name">Copyright @ 2019 <span class="director-name"><a href="#">Sportclc Team</a>. All Rights Reserved</span></p>
      </div>
    </div>
  </div>
</footer>
