<app-slider></app-slider>
<app-schedule></app-schedule>
<div class="our-tour txt-center container">
  <h3 class="our-tour-title">Our <span>Tournaments</span></h3>
  <div class="our-tour-text">Nullam quis eros tellus. Duis sit amet neque nec orci feugiat tincidunt. Lorem ipsum dolor sit amet,
    <br> consectetur adipiscing elit. Nulla sed turpis aliquet, pharetra enim sit amet, congue erat. 
  </div>
  <app-tournament-list [flag]="true"></app-tournament-list>
</div>
<app-football-images></app-football-images>
