<ngx-spinner></ngx-spinner>
<div class="team-detail">
  <div class="team-name">
    <p>{{ team.name }}</p>
  </div>
  <div class="team-infr">
    <div class="container">
      <div class="team-infr-left pull-left clearfix">
        <img *ngIf="team" [src]="team.logo">
        <p>FC {{ team.name }}</p>
        <p>Football Club</p> 
        <p>Established In :<span> 1902</span></p>
        <p>Arena/Stadium :<span> Camp Nou</span></p>
        <p>Manager :<span> Ernesto Valverde</span></p>
        <p>Training Ground :<span> Ciutat Esportiva Joan Gamper</span></p>
        <p>Coach :<span> Ernesto Valverde</span></p>
        <p>Leagues :<span> UEFA Champions League, La Liga,Copa Del Rey, Supercopa De España</span></p>
      </div>
      <div class="team-infr-right pull-left clearfix">
        <div class="club-history">
          <p>Club History</p>
        </div>
        <div class="detail-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium est, consequatur laudantium cum ab fugit inventore unde dolorem, ipsum dicta dolores aut libero fugiat hic ut nihil, cumque explicabo ducimus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ducimus suscipit nulla libero corrupti totam dolores.</p>
          <p>Aenean accumsan vulputate erat sed sollicitudin. Donec porttitor rutrum justo a ullamcorper. Etiam venenatis condimentum metus sit amet dignissim. Morbi venenatis nisl lobortis neque cursus vehicula. Proin in convallis eros. Sed posuere, sapien sed tempus facilisis, arcu velit tincidunt nulla, at accumsan lacus ante accumsan tellus. In a condimentum dolor. Sed feugiat consectetur sapien, a feugiat nunc elementum ut. Mauris nisi felis, auctor et sem quis, condimentum condimentum odio. Aenean id eleifend nulla, nec blandit enim.</p>
        </div>
        <div class="team-image">
          <img src="{{ team.cover }}">
          <p>Why would Neymar leave Barca? A look at why Neymar might leave Barcelona for Paris St-Germain, with expert analysis and opinion.</p>
        </div>
        <div class="player-images">
          <h3>Player <span>Images</span></h3>
          <div class="team-image">
            <div class="team-mem">
              <img src="./../../../assets/images/messi.png" alt="player img">
              <p class="player-name">Lionel Messi</p>
              <p>Attacker</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Iniesta.PNG" alt="player img">
              <p class="player-name">Andrés Iniesta</p>
              <p>Midfielder</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Xavi.PNG" alt="player img">
              <p class="player-name">Xavier Hernández</p>
              <p>Midfielder</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Pique.PNG" alt="player img">
              <p class="player-name">Gerard Piqué</p>
              <p>Centre midfielder</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Busquets.PNG" alt="player img">
              <p class="player-name">Sergio Busquets</p>
              <p>Midfielder</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Alba.PNG" alt="player img">
              <p class="player-name">Jordi Alba</p>
              <p>Leftback</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Rakitic.jpg" alt="player img">
              <p class="player-name">Ivan Rakitić</p>
              <p>Midfielder</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Stegen.jpg" alt="player img">
              <p class="player-name">Marc-André ter Stegen</p>
              <p>Goalkeeper</p>
            </div>
            <div class="team-mem">
              <img src="./../../../assets/images/Coutinho.jpg" alt="player img">
              <p class="player-name">Philippe Coutinho</p>
              <p>Forwards</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
