<div class="row bracket-wrapper height-1000" [style.backgroundImage]="'url('+ _src +')'">
  <p>Knockout stage: {{ tournamentName }}</p>
  <div class="col-12 auto-justify">
    <div class="panel-default panel-center">
      <img src="../../../assets/images/50823683_389556591806206_1449730283363368960_n.png" alt="panel default">
    </div>
    <div class="match-result" *ngFor='let team of bracketView'>
      <div class="{{ team.label + team.position}} team-name">
        <img src="{{ team.logo }}" alt="team logo">
        <span class="code">{{ team.code | slice:0:3 }}</span>
        <span class="score">{{ team.score }}</span>
      </div>
    </div>
  </div>
</div>
